<div class="col-lg-12">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">orden</th>
        <th scope="col">fecha sistema</th>
        <th scope="col">fecha venta</th>
        <th scope="col">retaso semanas</th>
        <th scope="col">descripcion</th>
        <th scope="col">cliente</th>
        <th scope="col">deuda inicial</th>
        <th scope="col">pagos</th>
        <th scope="col">deuda final</th>
        <th scope="col"><button class="btn btn-warning"></button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of deuda">
        <td>{{d.orden}}</td>
        <td>{{d.fecha_sistema}}</td>
        <td>{{d.fecha_venta}}</td>
        <td>{{d.retraso_semanas}}</td>
        <td>{{d.descripcion}}</td>
        <td>{{d.cliente}}</td>
        <td>{{d.deuda_inicial}}</td>
        <td>{{d.pagos}}</td>
        <td>{{d.deuda_final}}</td>
        <td><button class="btn btn-success"></button> <button class="btn btn-danger"></button> <button class="btn btn-primary"></button></td>
      </tr>

    </tbody>
  </table>

</div>
