<div class="col-lg-12">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">fecha sistema</th>
        <th scope="col">fecha pago</th>
        <th scope="col">unidad de negocio</th>
        <th scope="col">descripcion</th>
        <th scope="col">orden</th>
        <th scope="col">usuario</th>
        <th scope="col">pago</th>
        <th scope="col">froma de pago</th>
        <th scope="col"><button class="btn btn-warning"></button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pagos">
        <td>{{p.id}}</td>
        <td>{{p.fecha_sistema}}</td>
        <td>{{p.fecha_pago}}</td>
        <td>{{p.unidad_negocio}}</td>
        <td>{{p.orden}}</td>
        <td>{{p.usuario}}</td>
        <td>{{p.pago}}</td>
        <td>{{p.moneda}}</td>
        <td>{{p.forma_pago}}</td>
        <td><button class="btn btn-success"></button> <button class="btn btn-danger"></button> <button class="btn btn-primary"></button></td>
      </tr>

    </tbody>
  </table>

</div>

